@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 4px;
    letter-spacing: 0.35px;
    margin: 0 24px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img--wrapper {
    width: calc(100% - 40%);

}


.header__img {
        width: 100%;
    max-width: 768px;
}

.header__description {
    width: 40%;
    margin: 20px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}
.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}
.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}
.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}
.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}
.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}


.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__customers {
    width: 100%;
    max-width: 768px;
    padding : 48px 0 0 0;
}

.header__customers--title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 24px;
    color: #a0aec0;
}

.header__img {
    width: 100%;
    max-width: 512px;
}

.header__para {

   margin: 20px 0;
}

.header__email {
    margin: 0 0 20px 0;
}

.header__customers {
    opacity: 0.6;
    
}
/* 

FEATURES ↓

*/



#feature .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 80px 0;
}
.features__row {
   width: 100%;
   max-width: 1200px; 
   margin: 0 auto;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
    width: 100%;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 85, 99);
    line-height: 1.75;
    margin: 16px 0 0 0;
    max-width: 640px;
}

.features__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.feature__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.feature {
    width: calc(100% / 3);
    margin: 16px 0;
    ;
}

.feature__title {
    font-size: 30px;

}

.feature__para {
    margin-top: 16px;
    font-size: 20px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.feature__img {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__row {
    display: flex;
    align-items: flex-start;
}



/* 

QUALITY WORK ↓

*/



.quality__text {
    width: 50%;
    max-width: 576px;
    margin: 16px;
}

.quality__tag {
    font-size: 20px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.quality__title {
    font-size: 60px; 
    font-weight: 900;
    padding: 16px 0 16px 0;
}

.quality__para {
    font-size: 22px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    padding-top: px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 16px;
}

.quality__img {
    width: 100%; 
    height: auto;
    margin-right: 48px;
   z-index: 10;
   margin-right: 80px;
}



.quality__img--wrapper{
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__button {
   border-radius: 500px;
   padding: 16px 46px;
   background-color: #6415ff;
   color: #fff;
   border: none;
   font-weight: 700;
   margin-top: 8px;
   font-size: 18px;
}

/* 

STEPS ↓

*/


#steps .row__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.steps__img--wrapper {
    position: relative;

}

.steps__img {
    width: 100%;
}

.steps__grid {
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%); 
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}